:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #383237;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  
  --primary-color: #F199F2;
  --secondary-color: #EF3DF2;
}

body{
  display: flex;
  place-items: center;
  height:100vh;
  margin: 0;
  --x: calc(var(--posX, 0) * 1px);
  --y: calc(var(--posY, 0) * 1px);
  background-image: 
    linear-gradient(115deg, rgb(211 255 215), rgb(0 0 0)), 
    radial-gradient( 90% 100% at calc( 50% + var(--x)) calc( 0% + var(--y)), rgb(200 200 200), rgb(022 000 045)), 
    radial-gradient(100% 100% at calc( 80% - var(--x)) calc( 0% - var(--y)), rgb(250 255 000), rgb(036 000 000)), 
    radial-gradient(150% 210% at calc(100% + var(--x)) calc( 0% + var(--y)), rgb(020 175 125), rgb(000 010 255)), 
    radial-gradient(100% 100% at calc(100% - var(--x)) calc(30% - var(--y)), rgb(255 077 000), rgb(000 200 255)), 
    linear-gradient(60deg, rgb(255 000 000), rgb(120 086 255));
  background-blend-mode: soft-light, overlay, overlay, overlay, difference, difference, normal;
}

.splash__container{
  height: 100%;
  width: 100%;
  z-index: 2;
  position: absolute;
  background: #383237;
  display: flex;
  place-items: center;
  justify-content: center;
  transition: all ease-in-out 600ms;
}

.splash__text {
  font-weight: 600;
  font-size: 4rem;
}

.hidden {
  transition: 600ms;  
}

h1 {
  font-size: 4em;
  line-height: 1.5;
}

h1 > span {
  font-size: 50%;
  display: block
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


a {
  font-weight: 500;
  color: var(--secondary-color);
  text-decoration: inherit;
  position: relative;
  
  transition: color .2s ease-in-out;
}
a:hover {
  color: var(--primary-color);
}

a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2.5px;
  border-radius: .5px;
  background: linear-gradient(270deg, var(--primary-color) 0%, var(--secondary-color) 100%);
  bottom: -2px;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

a:hover::before {
  color: var(--primary-color);
  transform-origin: left;
  transform: scaleX(1);
}