@import url('https://fonts.googleapis.com/css2?family=Anton&family=Merriweather:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');

@font-face {
  font-family: Pillowlava;
  src: url(/public/fonts/Pilowlava-Regular.otf);
}

*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  background: var(--secondary-color);
}

:root{
  --xl-font-family: Pillowlava, 'Anton', sans-serif;
  --transition-in: all 350ms ease-in;
  --transition-out: all 200ms ease-out;
  --primary-color: rgb(62, 61, 66);
  --secondary-color: rgb(236, 239, 232);
  font-size: 16px;
  font-family: 'Poppins';
  color: var(--primary-color);
}

body {
  display: grid;
  aspect-ratio: 6 / 1;
  margin: 0;
  padding: 0;
}
.card {
  --color-1: rgb(197, 207, 211);
  --color-2: rgb(170, 173, 175);
  background: var(--color-2);
  background: linear-gradient(129deg, var(--color-1) 0%, var(--color-2) 100%);
  border: 5px solid rgba(245, 245, 245, 0.364);
  border-radius: 32px;
  padding: 1rem 1.5rem;
  filter: drop-shadow(2px 5px 5px #00000032);
}  

ul {
  display: flex;
  gap: .5rem;
  padding: .5rem 0;
}

li {
  list-style: none;
}
img {
  width: 80vw;
}

.main-grid-container{
  padding: 2% 5%;
  display: grid;
  gap: 1rem .5rem; 
  grid-template-areas: 
  'hello hello'
  'logo name'
  'about about'
  'web web'
  'web web'
  'design design'
  'design design'
  'socials contact'
  ;
}

.logo{
  grid-area: logo;
  
}
.logo img {
  width: 100%;
}

.hello{
  grid-area: hello; 
  font-family: var(--xl-font-family);
  font-size: 5em;
  display: grid;
  place-content: center;
}

.name {
  grid-area: name;
  place-self: center;
  font-size: clamp(3rem, calc(4vw + 1rem), 7rem);
  margin: .1em calc(1vw + 0.25rem) 0 calc(1vw + 0.25rem);
  line-height: 90%;
  letter-spacing: 0.15vw;
  font-family: Pillowlava;
  font-weight: 900;
}

.about {
  grid-area: about;
}

.design-container,
.web-container{
  display: grid;
}

.web-container{
  --color-1: rgb(186, 238, 113);
  --color-2: rgb(160, 223, 71);
  grid-area: web;
  grid-template-areas: 
  'title  carousel'
  'paragraph  carousel'
  ;
}

.design-container{
  --color-1: rgb(208, 163, 245);
  --color-2: rgb(166, 66, 249); 
  grid-area: design;
  grid-template-areas: 
  'title'
  'paragraph'
  'carousel'
  ;
  transition: 200ms ease-out;
}
.design-container > h2,
.web-container > h2 {
  grid-area: title;
  place-self: end start;
  font-family: Anton;
  font-size: 2rem;
}

.design-container > p,
.web-container > p {
  grid-area: paragraph;
}
.design-container > ul,
.web-container > ul {
  grid-area: skills;
}
.design-container > div,
.web-container > div {
  grid-area: carousel;
  place-self: center;
}
.web-container > div {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  text-align: center;
  place-self: center;
  padding: 1rem;
}
.web-container > div > a {
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  padding: 1rem;
}

.web-container > div > a:hover{
  text-decoration: underline;  
}

.socials{
  grid-area: socials;
  font-family: 'Poppins';
  font-weight: 400;
  display: grid;
  place-content: center;
  text-align: center;
}
.socials a,
.socials a {
  color: inherit;
  transition: var(--transition-in)
}
.socials a:hover{
  --scale: 1.4;
  color: var(--secondary-color);
  transition: var(--transition-out)
}
.socials a *{
  scale: var(--scale);
}

.contact {
  grid-area: contact;
  display: grid;
  place-content: center;
  transition: var(--transition-in);
  cursor: pointer;
}  

.contact:hover {
  color: var(--secondary-color);
  scale: 1.1;
  rotate: 5deg;
  transition: var(--transition-out);
}  

.contact > a {
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
  font-size: clamp(2.5rem, 1vw + 1rem, 3rem);
  font-family: Anton;
}  

.icon-width-medium{
  font-size: 3rem;
}
.slider-container{
  overflow: hidden;
  width: 80vw;
  aspect-ratio: 1/1;
}
.slider-container-inner{
  display: flex;
  width: 100%;
  transition: transform 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
  animation: infinite slider-slide 25000ms;
}
.slider-container-inner:hover{
  animation-play-state: paused;
}

@keyframes slider-slide {
  0% {
    transform: translateX(-000%);
  }
  20% {
    transform: translateX(-000%);
  }
  25% {
    transform: translateX(-100%);
  }
  45% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-200%);
  }
  70% {
    transform: translateX(-200%);
  }
  75% {
    transform: translateX(-300%);
  }
  95% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(-000%);
  }
}

@media (min-width: 50em) {
  img {
    width: 20vw;
  }
  .slider-container{
    width: 20vw;
  }
  
  .main-grid-container{
    grid-template-columns: repeat(5, 1fr);
    max-width: 90rem;
    grid-template-areas: 
      'hello logo web web web'
      'about about web web web'
      'design design design name name'
      'design design design socials contact'
    ;
  }
  .design-container {
    width: 95%;
    grid-template-areas: 
    ' carousel title'
    ' carousel paragraph'
  ;
  }
}